<div ng-controller="homeController">
  <div class="row">
    <form class="form-inline">
      <div class="col-md-3">
        <div class="form-group">
          <label for="categorySearch">Search by category:</label>
          <select ng-model="search.categories" id="categorySearch" class="form-control">
            <option value="" ng-selected="true">Select one:</option>
            <option ng-repeat="category in categories | orderBy:category" value={{category}}>
              {{category}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="nameSearch">Search by name:</label>
          <input ng-model="search.name" type="text" class="form-control" id="nameSearch">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="sort">Sort by price:</label>
          <select ng-model="sort" ng-init="sort=''" class="form-control" id="sort">
            <option value="" ng-selected="true">Select one:</option>
            <option value="price">Low to high</option>
            <option value="-price">High to low</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <a href="/#/checkout" class="btn btn-danger pull-right">Checkout | Bag: {{ cart.length | cartLength}}</a>
      </div>
    </form>
  </div>
  <br>
  <!--Begin Tea Table-->
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Tea</th>
          <th>Information</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="tea in inventory | filter:search | orderBy:sort">
          <td>
            <img ng-src="{{tea.imageUrl}}">
          </td>
          <td>
            <div class="row">
              <div class="col-md-12">
                <h3>{{tea.name}}
                  <span class="pull-right">
                    <form ng-submit="addToCart(tea._id)" class="form-inline">
                      <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <select ng-init="quantity[tea._id]='1'" ng-model="quantity[tea._id]" class="form-control" id="quantity">
                          <option value=1 ng-selected="true">1</option>
                          <option value=2>2</option>
                          <option value=3>3</option>
                          <option value=4>4</option>
                          <option value=5>5</option>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-primary">
                      Add to Bag
                      </button>
                    </form>
                  </span>
                </h3>
              </div>
            </div>
            <div class="row"></div>
              <p><strong>Price:</strong> {{tea.price | moveDecimal | currency}}</p>
              <p><strong>Caffeine Scale:</strong> {{tea.caffeineScale}}</p>
              <p><strong>Ingredients:</strong> {{tea.ingredients}}</p>
              <p><strong>Rating:</strong> {{tea.rating}}</p>
              <p><strong>In Stock?</strong> {{tea.inStock | boolFilter}}</p>
              <p><strong>Categories:</strong></p>
              <ul>
                <li ng-repeat="category in tea.categories">{{category}}</li>
              </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

 <!--   {
        "_id": "55c8ee82152165d244b98300",
        "name": "Bayard stew",
        "ingredients": "concentrated gluten, jewelry, dill, beetle nut, toast",
        "caffeineScale": 244,
        "price": 1540,
        "inStock": true,
        "rating": 1,
        "imageUrl": "http://s7d5.scene7.com/is/image/Teavana/32664_d?$cimg$",
        "__v": 0,
        "categories": [ "dark", "cold"]
    },-->